.main-content {
  position: relative;
  top: -15rem;
  /* Move content upward */
  z-index: 1;
  /* Ensures content stays above the background */
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}
